<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-amap-location"
    version="1.0.6">
    <name>cordova-amap-location</name>
    <description>Cordova Location Plugin By AMap</description>
    <license>Apache 2.0</license>
    <keywords>cordova,location, aMap</keywords>

    <preference name="ANDROID_KEY" />
    <preference name="IOS_KEY" />

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/location.js" name="AMapLocation">
        <clobbers target="window.plugins.aMapLocationPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
       <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.amap.api.location.APSService"></service>   
            <meta-data android:name="com.amap.api.v2.apikey" android:value="$ANDROID_KEY"></meta-data> 
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AMapLocation" >
                <param name="android-package" value="com.phonegap.plugins.aMapLocation.Location"/>
            </feature>
        </config-file>

        <source-file src="src/android/Location.java" target-dir="src/com/phonegap/plugins/aMapLocation" />
        <source-file src="src/android/AMap_Location_V4.0.1_20180426.jar" target-dir="libs" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AMapLocation">
                <param name="ios-package" value="AMapLocation" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="AMapAppKey">
          <string>$IOS_KEY</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>获取位置信息</string>
        </config-file>

        <header-file src="src/ios/AMapLocation.h" />
        <source-file src="src/ios/AMapLocation.m" />

        <framework src="src/ios/lib/AMapFoundationKit.framework"  custom="true"/>
        <framework src="src/ios/lib/AMapLocationKit.framework"  custom="true"/>
        <framework src="JavaScriptcore.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="Security.framework" />
        <framework src="libz.tbd" />
        <framework src="libc++.tbd" />
        <framework src="libstdc++.6.0.9.tbd" />
    </platform>
</plugin>
